{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "main"}}

    <div>

        <div>
            {{if .IsError}}<p class="error">{{.Not}}</p> {{end}}
            <form method="post" action="/askme/ask">
                <input type="text" name="question"><br>
                <input type="submit" value="ask">
            </form>
        </div>
        {{if .Questions}}
            {{range .Questions}}
                <div>

                    <a methods="get" href="/askme/question/?id={{.Id}}"><p>{{.Quest}}</p></a><br><br>
                    {{if .Authenticated}}
                    <div>
                        <form action="/askme/answer" method="post">
                            <input type="text" name="answer"><br>
                            <button style="border-radius: 5%;border: salmon solid 2px"  name="q_id" value="{{.Id}}">answer</button>
                        </form>
                    </div>
                    {{end}}
                    <div>
                        {{range .Answers}}
                            <p>{{.Answer}}</p>
                        {{end}}
                    </div>
                </div>

            {{end}}

        {{end}}
    </div>

{{end}}